@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}
.header-area{
    width: 90%;
    margin: auto;
}
.top-header{
    width: 100%;
    position: fixed;
    background-color: #fff;
    color: black;
    padding: 1px;    
    opacity: 0.90;
    box-shadow: 0px 5px 10px 0px #aaa;
    z-index: 10;
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.menu-icon{
    display: none;
}
.header-logo{
    display: flex;
    flex: 20%;
}

.menu-icon{
    display: none;
    flex: 10%;
}

.nav-links{
    display: flex;
    flex: 70%;
    justify-content: end;
}

.nav-links a{
    text-decoration: none;
    color: #c86319;
    transition: color 0.3ms ease-in-out;
    font-size: 1.25rem;
    padding: 0.75rem;
}

.nav-links span{
    padding: 0.5rem;
}

.active{
    background-color: #04AA6D;
    color: #FFF;
}

.nav-links span:hover{
    color: blue;
}

.welcome-container{
    height: 55vh;
    background-image: url("../images/Main/Coveimage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.welcome-items{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
}

.welcome-main-text, .welcome-main-quotes{
    background-color: black;
    color: white;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 0.5px;
}

.main-area{
    width: 90%;
    margin: auto;
}

.main-container-full{
    padding: 1.25rem 0;
}

.welcometext{
    padding-bottom: 0.25rem;
    border-block-end: 1px solid #BBB;
    transform: translateX(150%);
    animation: welcometext-roll 2s linear forwards;
}

@keyframes welcometext-roll {
  100% {
    transform: translateX(0%);
  }
}

.welcometext h1{
    font-family: 'PT Serif', serif;
}

.main-area-2{
    width: 75%;
    margin: auto;
}

.column-full{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.welcome-img-col{
    flex: 50%;
    transform: translateX(-150%);
    animation: welcome-img-col-roll 2s linear forwards;
}

@keyframes welcome-img-col-roll {
    100% {
      transform: translateX(0%);
    }
}

.img-welcome{
    width: 100%;
    height: 350px;
    padding: 1.5rem;
}

.row-text{
    flex: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    transform: translateX(150%);
    animation: welcometext-roll 2s linear forwards;
}

@keyframes welcometext-roll {
  100% {
    transform: translateX(0%);
  }
}

.main-area-3{
    width: 90%;
    margin: auto;
}

.img-gallery{
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content: flex-end;
    overflow-x: scroll;
}

.column-img{
    display: flex;
    flex: 16.66%;
    padding: 5px;
    justify-content: right;
}

.column-img1{
    z-index: -1;
    transform: translateX(500%);
    animation: ani-roll 3s linear forwards;
}

.column-img2{
    z-index: -2;
    transform: translateX(400%);
    animation: ani-roll 3s linear forwards;
}

.column-img3{
    z-index: -3;
    transform: translateX(300%);
    animation: ani-roll 3s linear forwards;
}

.column-img4{
    z-index: -4;
    transform: translateX(200%);
    animation: ani-roll 3s linear forwards;
}

.column-img5{
    z-index: -5;
    transform: translateX(100%);
    animation: ani-roll 3s linear forwards;
}

.column-img6{
    z-index: -6;
}

@keyframes ani-roll {
    100% {
      transform: translateX(0%);
    }
}

.slide-img{
    width: 100%;
    height: 100%;
}

.projects{
    background-color: #FFF;
    padding: 0;
    margin: 5px;
    width: 32.70%;
}

.footer-container{
    background-color: #507012;
    font-family: "Poppins", sans-serif;
}

.footer-items{
    color:white;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    padding: 1.0rem;
}

.welcome-btn{
    display: inline-block;
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    border-radius: 15px;
    padding: 15px;
}

.welcome-btn:hover {
    background: #117964;
    transition: background-color 0.3s ease-in-out;
  }

/*Media query*/

@media screen and (max-width: 700px){
    .welcome-container{
        height: 60vh;
    }

    .nav-links, .header-logo{
        justify-content: start;
    }

    .nav-links{
        display: none;
        text-align: center;
        flex-direction: column;
    }
    
    .nav-links-open{
        display: flex;
    }

    .nav-links a{
        font-size: 0.95rem;
        padding: 0.3rem;
    }

    .header-area{
        width: 100%;
        margin: auto;
        padding: 2px;
    }

    .menu-icon{
        display: flex;
        justify-content: end;
        padding: 0 0.5rem 0 0;
    }

    .logo-image{
        width: 100px;
        height: 50px;
    }

    .welcome-items h1{
        font-size: 20px;
    }

    .welcome-items h3{
        font-size: 15px;
    }

    .welcometext h1{
        font-size: 16px;
    }

    .main-container-full{
        padding: 1.5rem;
    }

    .main-items{
        flex-direction: column;
    }

    h2{
        font-size: larger;
    }

    .main-area-2{
        width: 100%;
        margin: auto;
    }

    .column-full{
        flex-direction: column;
    }

    .img-welcome{
        height: 100%;
    }

    .row-text{
        font-size: 12px;
    }

    .main-area{
        width: 100%;
        margin: auto;
    }

    .img-gallery{
        flex-wrap: wrap;
    }

    .column-img{
        flex: 50%;
    }

    .projects {
        width: 100%;
        height: auto;
        margin: 3px 0;
      }

    .footer-items{
        font-size: 8px;
        flex-direction: column;
        align-items: center;
    }
}
